<html ng-app="app">
<head>
  <title>Autocomplete Products</title>
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="stylesheet" href="static/css/autocomplete.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>

</head>
<body>

<header>
  <h1><span class="thin">AngularJS:</span> Autocomplete Products</h1>
</header>


  <div ng-controller="MyCtrl">
    <div class="main">
      <h2>Search for new released movies:</h2>
      <autocomplete ng-model="result" attr-placeholder="type to search products..." click-activation="true" data="movies" on-type="doSomething" on-select="doSomethingElse"></autocomplete>
      <br>
    </div>


  </div>


<footer>
    <a>BuyBest Products</a>
</footer>

<script type="text/javascript" src="static/js/autocomplete.js"></script>
<script type="text/javascript" src="static/js/app.js"></script>

</body>
</html>