<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
</head>
<body ng-app="BlankApp" ng-cloak>
  <!--
    Your HTML content here
  -->  
  	<h1>places autocomplete testing</h1>
	<input type="text" id="location" name="location" placeholder="City or ZIP code">
	<input type="submit" value="GO" id="go">
	<span class="zip"></span>

	<script> $(function(){
  
  var autocomplete;
  var geocoder;
  var input = document.getElementById('location');
  var options = {
    componentRestrictions: {'country':'us'},
    types: ['(regions)'] // (cities)
  };

  autocomplete = new google.maps.places.Autocomplete(input,options);

  $('#go').click(function(){
    var location = autocomplete.getPlace();
    geocoder = new google.maps.Geocoder();
    console.log(location['geometry'])
    lat = location['geometry']['location'].lat();
    lng = location['geometry']['location'].lng();
    var latlng = new google.maps.LatLng(lat,lng);
    
    // http://stackoverflow.com/a/5341468
    geocoder.geocode({'latLng': latlng}, function(results) {
      for(i=0; i < results.length; i++){
          for(var j=0;j < results[i].address_components.length; j++){
              for(var k=0; k < results[i].address_components[j].types.length; k++){
                  if(results[i].address_components[j].types[k] == "postal_code"){
                      zipcode = results[i].address_components[j].short_name;
                      $('span.zip').html(zipcode);		
                  }
              }
          }
      }
    });
    
  });
  
  
});
</script>
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  
  <!-- Your application bootstrap  -->
  <script type="text/javascript">    
    /**
     * You must include the dependency on 'ngMaterial' 
     */
    angular.module('BlankApp', ['ngMaterial']);
  </script>
  
</body>
</html>

<!--
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at https://material.angularjs.org/license.
-->
